/* Desktop Version */
#menuBar {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  background-color: #5bbae6;
  height: 75px;
}

#rightMenu {
  display: flex;
  flex-flow: row;
  padding: 0.8em 0.8em 0 0;
}
.title {
  padding: 0.10em 0 0 0.11em;

}
.menuItems {
  color: black;
  font-size: 25px;
}

/* ----------------------- */


/* Tablet Version */
@media (max-width: 765px) {

}
/* ----------------------- */


/* Mobile Version */
@media (max-width: 768px) {
  #menuBar {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    background-color: #5bbae6;
    height: 75px;
  }

  #rightMenu {
    display: flex;
    flex-flow: column;
    padding: 0.8em 0.8em 0 0;
  }

  .menuItems {
    color: black;
    size: 20px;
  }
}

/* ----------------------- */
